<!DOCTYPE html>
<head>
  
</head>
<body>
        <%for( let i of Result){%>
            <ul>
                <li>
                    <p><%=i.name%></p>
                    <p><%=i.phone%></p>
                    <p><%=i.email%></p>
                </li>
            </ul>
        <%}%>
</body>
</html>