<link rel="stylesheet" href="/css/sign_in.css">
<div class="container">
    <h1 class="heading">sign in</h1>
    <form action="/createSession" method="post">
     <input type="email" name="email" placeholder="Enter email" required>
     <input type="password" name="password" placeholder="Enter password" required>
     <button type="submit">signin</button>
    </form>
</div>